<!-- Auth Modal -->
<div id="auth" class="modal">
  <header class="bar bar-nav">
    <a class="touch icon pull-right close" href="#auth">X</a>
    <h1 class="title">Welcome Back</h1>
  </header>

  <div class="content">
    <p class="content-padded">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-md-offset-3">
            <%= form_for( "user", url: user_session_path) do |f| %>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Log in", class: "touch btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>
