<%= form_for @listing, html: { multipart: true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        Please dont forget that:
      </h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :list_type %><br>
    <%= f.label :list_type, 'Make an Ask' %>
    <%= f.radio_button :list_type, :ask  %>
    <%= f.label :list_type, 'Make an Offer' %>
    <%= f.radio_button :list_type, :offer %>
    <%= f.label :list_type, 'Propose a Community Project' %>
    <%= f.radio_button :list_type, :community_project %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :points, 'Set your price' %><br>
    <%= f.number_field :points, step: 50, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag, 'Tags' %><br>
    <%= render 'tags_input', f: f %>
  </div>

  <div class="form-group">
    <%= f.label :duration, 'Listing Duration' %><br>
    <%= f.select :duration, [1,3,5,7,10].collect {|d| ["#{d} day".pluralize(d),d] }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visibility, 'Which communities can see this listing?' %><br>
    <%= f.label :visibility, 'Global' %>
    <%= f.radio_button :visibility, :global %>
    <%= f.label :visibility, current_user.zip_code.to_s.to_region(city: true)%>
    <%= f.radio_button :visibility, :local %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-danger" %>
  </div>
<% end %>
