<div id="listings" class="transitions-enabled">
  <div id="new-panel" class="box panel panel-default">
    <%= link_to new_listing_path, class: "panel-link" do %>
      <div class="panel-body text-center">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <p>Create a new listing.</p>
      </div>
    <% end %>
  </div>
  <% @listings.each do |listing| %>
    <div class="box panel panel-default">
        <%= link_to listing_path(listing), class: "panel-link" do %>
          <div id="type">
            <%= listing.listing_type %>
          </div>
          <%= image_tag(listing.image.url(:medium)) %>
          <div class="panel-body">
            <b><%= listing.title %></b>
            <p><%= truncate listing.description, length: 45 %></p>
            <% unless listing.listing_type == "community_project" %>
              <br>
              <span>
                <%= "#{listing.points_starting} KP" if listing.points_starting %>
              </span>
            <% end %>
          </div>
        <% end %>
        <div class="panel-footer">
          <div id="avatar">
            <%= image_tag('elements-11.png', size: "45x45", id: "user-avatar") %>
            <%= link_to "/users/#{listing.user.url_params}" do %>
              <%= listing.user.name if listing.user %>
            <% end %>
            <p>
              <%= time_ago_in_words(listing.created_at) %> ago
            </p>
          </div>
        </div>
    </div>
  <% end %>
  <% if @listings.empty? %>
   <!-- Encourage Posting Here -->
  <% end %>
</div>
