<% if @listings.first.present? %>
  <ul class="nav nav-pills">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Popular <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>Recent</li>
        <li>Most Viewed</li>
        <li>Most Commented</li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Category <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        New <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
      </ul>
    </li>
  </ul>

  <div id="listings" class="transitions-enabled">
    <% @listings.each do |listing| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(listing.image.url(:medium)), listing %>
        <div class="panel-body">
          <span><%= listing.points %>kp</span>
          <p><%= listing.description %></p>
          <strong><%= listing.user.name if listing.user %></strong>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <%= link_to 'New Listing', new_listing_path %>
        </div>
      </div>
    </div>
  </div>
<% end %>
