<%= render 'pages/home' unless user_signed_in? %>

<div id="listings" class="transitions-enabled">
  <% @listings.each do |listing| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(listing.image.url(:medium)), listing %>
      <div class="panel-body">
        <p><%= listing.description %></p>
        <strong><%= listing.user.name if listing.user %></strong>
        <% if listing.user == current_user %>
          <div class="actions">
            <%= link_to edit_listing_path(listing) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


