<p id="notice"><%= notice %></p>

<div id="listings" class="transitions-enabled">
  <% @listings.each do |listing| %>
    <div class="box panel panel-default">
      <%= image_tag listing.image.url(:medium) %>
      <div class="panel-body">
        <%= listing.description %>
        <%= listing.user.email if listing.user %>
        <%= link_to 'Show', listing %>
        <% if listing.user == current_user %>
          <%= link_to 'Edit', edit_listing_path(listing) %>
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


