<%= link_to root_path do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>


<% if @listing.posted_by?(current_user) and @listing.accepted? %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="list-group">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading text-center">
              If you haven't already, set a time and place to exchange your gifts with <%= @listing.accepted_user.name %>!
          </h4>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center-block">
        <%= image_tag @listing.image.url(:medium) %>
        <h3> 
          Asking for: <br>
          <%= @listing.points %> KP
        </h3>
        <% if @listing.valid_offers.present?  %>
          <h3> 
            Highest Current Bid: <br>
            <%= @listing.highest_offer.points %> KP
          </h3>
        <% end %>
      </div>
      <div class="panel-body">
        <p><%= @listing.description %></p>
        <p>
          <strong>
            <%= @listing.user.name if @listing.user %>
          </strong>
        </p>
        <% unless @listing.posted_by?(current_user) %>
          <p>
            <%= render "listings/user/offer" %>
          </p>
        <% end %>
        <% if @listing.user == current_user %>
          <%= link_to edit_listing_path(@listing) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to @listing, method: :delete,
            data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @listing.posted_by?(current_user) %>
  <div class="row">
    <% unless @listing.accepted? %>
      <% if @listing.valid_offers.any? %>
        <div class="col-md-offset-4 col-md-4">
          <%= render "listings/user/offer_list" %>
        </div>
      <% elsif @listing.valid_offers.empty? %>
        <div class="col-md-offset-2 col-md-8">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-body text-center">
              <h3>
                Share your post for more offers.
              </h3>
              <br>
              <br>
              <div class="row"> 
                <div class="col-md-offset-2 col-md-8">
                  Facebook - Twitter [Link Box]
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-body text-center">
            <h3>  </h3>
            <br>
            <br>
            <div class="row"> 
              <div class="col-md-offset-2 col-md-8">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
