<div id="profile" class="text-center">
  <%= link_to "/users/#{@listing.user.url_params}" do %>
    <%= image_tag(@listing.user.user_img, size: "70x70",
                  class:"img-circle", id: "user-avatar") %>
  <% end %>
  <p>
    <%= link_to "/users/#{@listing.user.url_params}" do %>
      <%= @listing.user.name %>
    <% end %>
    </br>
    <%= @listing.user.zip_code.to_s.to_region %>
  </p>
</div>
