<div id="listing-offer">
  <%= render "listings/layouts/listing_profile" %>
  <% if @listing.points.nil? || @listing.points == 0 %>
    <div id="boost">
      <p id="title" class="text-center">
        Boost your Social Capital by helping <%= @listing.user.name %> with this ask.
      </p>
    </div>
  <% elsif @listing.points > 0 %>
    <p id="title">
      <%= @listing.user.name %> is offering
    </h2>
    <h2 id="points">
      <%= @listing.points %> <i>KP</i>
    </h2>
  <% end %>
  <div id="offer">
    <%= form_for @listing.offers.build, html: { multipart: true } do |f| %>
      <%= f.hidden_field :listing_id, value: @listing.id %>
      <%= f.hidden_field :type, value: "Help" %>
      <div class="<%= "disable" if @listing.closed? %>">
          <%= f.submit "Help", class: "btn btn-danger",
                               disabled: @listing.expired? %>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <% if @listing.user == current_user %>
      <%= link_to edit_listing_path(@listing) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
      <%= link_to listing_path(@listing), method: :delete,
        data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      <% end %>
    <% end %>
  </div>
</div>
