<div id="listing-content" class="col-sm-11 panel panel-default">
  <div class="col-xs-4">
    <%= render "listings/layouts/listing_info" %>
  </div>
  <div class="col-xs-3">
    <%= render "listings/layouts/listing_bid" %>
  </div>
</div>
<div class="col-xs-5">
  <%= render "listings/layouts/listing_reviews" %>
</div>
<% if @listing.posted_by?(current_user) and @listing.status == "pending" %>
  <div class="row">
    <% unless @listing.accepted? %>
      <% if @listing.valid_offers.any? %>
        <div class="col-md-offset-4 col-md-4">
          <%= render "listings/user/offer_list" %>
        </div>
      <% elsif @listing.valid_offers.empty? %>
        <div class="col-md-offset-2 col-md-8">
          <%= render "listings/layouts/listing_share" %>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-body text-center">
            <h3>  </h3>
            <br>
            <br>
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
