<h1>
  Your <%= @listing.type ? @listing.listing_type.titleize : "Listing"%>
</h1>
<br>
<%= form_for @listing, url: listing_offers_path do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        Please dont forget that:
      </h2>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :points, 'Set your bid starting price.' %><br>
    <%= f.number_field :points, min: 0, step: 50, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration, 'Listing Duration' %><br>
    <%= f.select :duration, [1,3,5,7,10].collect {|d| ["#{d} day".pluralize(d),d] }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visibility, 'Which communities can see this listing?' %><br>
    </br>
    <div id="location" class="col-md-offset-2 col-md-12">
      <div class="col-md-3 panel">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </br>
        <%= f.label :visibility, 'Global' %>
        </br>
        <%= f.radio_button :visibility, :global %>
      </div>
      <div class="col-md-offset-1 col-md-3 panel">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        </br>
        <%= f.label :visibility, current_user.zip_code.to_s.to_region(city: true)%>
        </br>
        <%= f.radio_button :visibility, :local %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tag, 'Tags' %><br>
    <%= render 'listings/tags_input', f: f %>
  </div>

  <div class="form-group">
    <%= f.submit "#{request[:action].titleize} #{@listing.type ? @listing.listing_type.titleize : "Listing"}",class: "btn btn-danger" %>
  </div>
<% end %>
