<% if @listing.id.nil? %>
  <%= form_for @listing do |f| %>
    <% if @listing.errors.any? %>
      <div id="error_explanation">
        <h2>
          Please dont forget that:
        </h2>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <h1><%= f.label :type, "Listing Type" %></h1>
      <span>What type of listing would you like to post.</span>
      </br>
      </br>
      <%= f.label :type, 'Make an Ask' %>
      <%= f.radio_button :type, "ListingAsk"  %>
      <%= f.label :type, 'Make an Offer' %>
      <%= f.radio_button :type, "ListingOffer" %>
      <%= f.label :type, 'Propose a Community Project' %>
      <%= f.radio_button :type, "ListingCommunity" %>
    </div>
    <div class="form-group">
      <%= f.submit "Next", class: "btn btn-danger" %>
    </div>
    </br>
  <% end %>
<% end %>
