<div id="offer">
  <%= form_for @listing.offers.build, html: { multipart: true } do |f| %>
    <p id="title">
      Make an offer
    </p>
    <%= f.hidden_field :listing_id, value: @listing.id %>
    <div class="col-xs-12 <%= "disable" if @listing.status == "closed" %>">
      <% if @listing.valid_offers.present? %>
          <div class="form-group">
            <%= f.number_field :points,
              value: @listing.highest_offer.points,
              min: @listing.highest_offer.points,
              step: 5, class: "form-control",
              disabled: @listing.expired? %>
          </div>
      <% else %>
          <div class="form-group">
            <%= f.number_field :points, value: @listing.points,
              min: @listing.points,
              step: 5, class: "form-control",
              disabled: @listing.expired? %>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "Offer", class: "btn btn-danger", disabled: @listing.expired?%>
      </div>
    </div>
  <% end %>
</div>
