<%= form_for @listing.offers.build, html: { multipart: true } do |f| %>
  <b>
    Make an offer for <%= @listing.user.name %>'s <%= @listing.title %>
  </b>
  <%= f.hidden_field :listing_id, value: @listing.id %>
  <% if @listing.valid_offers.present? %>
      <div class="form-group">
          <%= f.number_field :points,
            value: @listing.highest_offer.points,
            min: @listing.highest_offer.points,
            step: 50, class: "form-control" %>
      </div>
  <% else %>
      <div class="form-group">
          <%= f.number_field :points, value: @listing.points,
             min: @listing.points,
             step: 50, class: "form-control" %>
      </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Offer", class: "btn btn-danger" %>
  </div>
<% end %>
