<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('Humanify.png'), root_path %><!-- image_tag gives huge image;doesn't resize appropriately -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- Username & Kudos Balance -->
          <%= render 'layouts/authenticated' %>
        <% else %>
          <!-- Sign-Up & Sign-In -->
          <li class="dropdown">
            <%= image_tag('elements-11.png', id: "user-avatar") %>
            <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                  <li><%= link_to "Log in", new_user_session_path %></li>
                  <li><%= link_to 'FAQ', about_path %></a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <!-- Search function -->
      <div class="row">
        <div id="listing-search-input">
          <div class="input-group col-md-8">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                      <span class=" glyphicon glyphicon-search"></span>
                  </button>
              </span>
          </div>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
