<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Humanify</title>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= image_path('favicon.gif') %>" type="image/icon"> 
  <link rel="icon" href="<%= image_path('favicon.gif') %>" type="image/icon">
</head>
<body>
  <%= render 'layouts/mobile_header' %>
  <div id="panel">
    <div id="buffer"></div>
    <%= render 'layouts/header' %>
    <div class="container" id="panel">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>

  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
</body>
</html>
